.box{

    text-align: center;
    border-radius: 15%;
    background-color: yellowgreen;
    padding: 10pt;
    border: 1px solid green ;

}

#opening_text{

    color:aliceblue;

}



/*
.styled-table {
    border-collapse:collapse;
    font-size: 0.9em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 5;
}

.styled-table thead{
    position: sticky;
    z-index: 10;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.styled-table tbody tr {
    background-color: khaki;
    border-bottom: 1px solid grey;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: white;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tfoot {
    background-color: yellowgreen;
}
*/


#upload_progress{
    display:none;
}