html{
    height: 100%;
}

body {
    height:auto;
    display:block;
    background:radial-gradient(ellipse at center,
     rgba(255,254,234,1) 0%,
     rgba(255,254,234,1) 35%,
     #B7E8EB 100%);
}

#animatedBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("wall4.jpg");
    background-repeat:repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 100s linear infinite alternate;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: -1600px 0;
    }
  }


.header{
    margin : 0%;
    padding: 0pt;
    width: 100%;
    max-height: 5%;
    top: 0pt;
    left: 0pt;
    background-origin: border-box;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-color: transparent;
    overflow: visible;
}

.main_body{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.wrapper_center{
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}

#title_text{
    display: flex;
    float: left;
    height: 100%;
    width: 35%;
    color: rgba(49, 201, 62, 0.699);
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    padding-top: 1px;
    text-shadow: 10pt 10pt 10pt gray;
    overflow:visible;
    align-items:center;
    background: none;
    overflow: hidden;
    text-overflow:clip;
}

.button{
    display: flex;
    position: relative;
    float: right;
    height: 100%;
    min-width: 5%;
    margin: 0;
    margin-right: 2.5%;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: bisque;
    border: 2pt solid black;
    font-family: 'Cookie', cursive;
}

.button:hover{
    background-color: aqua;
}

#login_table{
    
    background: linear-gradient(left,cyan,blue);
    background: -moz-linear-gradient(left,cyan,blue);
    background: -o-linear-gradient(left,cyan,blue);
    background: -webkit-linear-gradient(left,cyan,blue);

    font-size: x-large;

    font-weight: bolder;

    font-style: oblique;
    
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10% ;
    border-top-left-radius: 10% ;

}

#register_table{

    background: linear-gradient(left,cyan,green);
    background: -moz-linear-gradient(left,cyan,green);
    background: -o-linear-gradient(left,cyan,green);
    background: -webkit-linear-gradient(left,cyan,green);

    font-size: x-large;

    font-weight: bolder;

    font-style: oblique;
    
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10% ;
    border-top-left-radius: 10% ;


}

#welcome_box_container{

    justify-content: center;
    text-align: center;
    background: none;

}

#welcome_content{
    margin: auto
}


