  #upload_table {
    position: relative;
    max-width: 80%;
    top: 2%;
    margin: auto;
  }

  #upload_table caption{
    background-color:darkolivegreen;
    color: azure;
    width: 100%;
  }
  
  #upload_table, #upload_table td {
    border-collapse: collapse;
  }
  
  #upload_table thead {
    display: block;  /*to take the same width as tr */
    width: 100% /* - 17px because of the scrollbar width */
    
  }

  #upload_table thead th{
    background-color: silver;
    border: 1pt solid black;
 }
  
  #upload_table tbody {
    display: block; /* to enable vertical scrolling */
    max-height: 70vh; /* e.g. */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: overlay;
  }
  
  #upload_table tbody td {
    width: 25%; /* to enable "word-break: break-all" */
    max-height: 1vh;
    padding: 5px;
    word-break:break-all; /* 4. */
    overflow: hidden;
  }

  #upload_table tbody>tr {
    background-color:blanchedalmond;
  }

  #upload_table tbody>tr:nth-of-type(even){
    background-color: aquamarine;
  }

  
  #upload_table tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
  
  #upload_table td {
    text-align: center;
  }

  #upload_table tfoot{
    position: -webkit-sticky;
    position:sticky;
    width: 100%;
    background-color: gray;
    border-radius:50pt;
  }